[user]
	name = Stefan Scheller
	email = ste.scheller@gmail.com
[core]
	editor = nvim
[diff]
	tool = meld
[merge]
	tool = meld
[content]
	editor = nvim
[push]
	default = simple
[credential]
	helper = store
